:root {
    --backgroundColor: #b9b9b9;
}

img {
    width: 75vw;
    height: auto;
}

body {
    background-color: var(--backgroundColor);
}

.db { display: block; }

.hero {
    width: 100vw;
    height: auto;
    margin: auto;
    top: 0;
    position: fixed;
    z-index: -999;
    filter: sepia(65%) blur(6px);
}

.font-size-1 { font-size: .75em; }
.font-size-2 { font-size: 1em; }
.font-size-3 { font-size: 1.5em; }
.font-size-4 { font-size: 2em; }
.font-size-5 { font-size: 3em; }

.bg-inside { background-color: #d1d1d1;}

.my--1 { margin: -0.75em 0em -0.25em 0em;}

.sticky-top2 { top: 9%; }

.w-48 { width: 49%; }

.testDiv { float: right; }

.navIcon {
    width: 4%;
    height: auto;
}

.card {
    min-height: 31em;
    border-radius: 20px;
    box-shadow: 4px 4px 4px rgb(92, 92, 92);
}

.createNewCard { min-height: 1em; }
.createNewCard img { filter: none; }

.card-img-top {
    filter:grayscale(100%) blur(2px); 
    border-radius: 20px 20px 0px 0px;
    transition: .5s;
}
.card:hover .card-img-top {
    filter: none;
}

.sticky-top { z-index: 997; }

#window {
    width: 600px;
    margin: 0 auto;
    position: absolute;
    top: 380px;
    box-shadow: 20px 20px 40px 1px #656565;
    z-index: 999;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 998;
    background: rgba(0,0,0,0.3);
}